<div class="container">
  <h1 >Registration</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label fw-bold">Username</label>
        <small class="m-1">(min length 3)</small>
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label  fw-bold">Password</label>
          <small class="m-1">(min length 3)</small>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="mb-3 fw-bold">
          <label for="firstname" class="form-label">Firstname</label>
          <input type="text" class="form-control" id="firstname" formControlName="firstname" />
        </div>

        <div class="mb-3 fw-bold">
          <label for="lastname" class="form-label">Lastname</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            formControlName="lastname"
          />
        </div>
        <div class="mb-3 fw-bold">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
        </div>
        <button type="submit" class="btn btn-success fw-bold" [disabled]="!form.valid">Submit</button>

        <div *ngIf="message" class="fw-bold text-warning mb-4"><h5>{{ message }}</h5></div>
  </form>
</div>
