.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80vh;
  }
  

  .list-item-color {
    background-color: rgb(201, 234, 241);
    border: 1px solid rgb(0, 0, 0);
  }

  .book-form {
    max-width: 500px;
    word-wrap: break-word;
  }

  .title-width {
    max-width: 280px;
  }

  .title-width {
    max-width: 200xp;
    word-wrap: break-word;
  }

  .scrollable-list {
    max-height: 70vh;
    overflow-y: auto;
  }

  .margin-right {
    margin-right: 3em;
    margin-top: 3em;
  }