.header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .home-img {
    overflow: hidden;
    height: calc(97vh - 120px);
    background-image: url(../assets/images/books-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}